# Lists
lists are an ordered sequence of mixed data types
list are writeen as comma separated elements with square brackets
Lists are mutable

In [3]:
#introduction
L=["india",23,6,"mumbai"]
L

['india', 23, 6, 'mumbai']

In [4]:
#Nested list
L=["chemistry",30,40,[12,"navi mumbai"],"china"]
L

['chemistry', 30, 40, [12, 'navi mumbai'], 'china']

In [5]:
#indexing
L[3]

[12, 'navi mumbai']

In [6]:
L[-1]

'china'

In [9]:
L[3][1]

'navi mumbai'

In [10]:
#slicing
L[0:3]

['chemistry', 30, 40]

In [11]:
#mutable
L[0]="physics"
L

['physics', 30, 40, [12, 'navi mumbai'], 'china']

In [13]:
#extend(): Extend a list by adding elements at the end of the list.
L.extend([8,9])
print(L)

['physics', 30, 40, [12, 'navi mumbai'], 'china', 8, 9, 8, 9]

In [15]:
#append(): Append an object to the end of a list. (exactlty the same way how you write)
L.append([9,10])
L

['physics', 30, 40, [12, 'navi mumbai'], 'china', 8, 9, 8, 9, [9, 10], [9, 10]]

In [16]:
L.append("zzz")
L

['physics',
 30,
 40,
 [12, 'navi mumbai'],
 'china',
 8,
 9,
 8,
 9,
 [9, 10],
 [9, 10],
 'zzz']

In [17]:
#pop(index): Remove and return the item at index (default last)

#remove(value): Remove the first occurrence of a value in the list

L.pop()

'zzz'

In [22]:
L.remove([9,10])
L

['physics', 30, 40, [12, 'navi mumbai'], 'china', 8, 9, 8, 9]

In [24]:
#sorting
L=[20,67,29,7,6]
L.sort()
L

[6, 7, 20, 29, 67]

In [25]:
#descing order
L.sort(reverse=True)
L

[67, 29, 20, 7, 6]

In [26]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [27]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

string input_str = 'Kumar_Ravi_003'


input_str = sys.stdin.read()
name = input_str.split('_')
first_name = name[1]
second_name = name[0]
customer_code = name[2]

# Tuples
tuples re an ordered sequence of mixed data types
tuples are writeen as comma separated elements with paranthesis ().
tuples are immutable

In [28]:
t=("disco",89,90,56,"apple")
t

('disco', 89, 90, 56, 'apple')